.topo {
    background: linear-gradient(to left, #3494e6, #ec6ead);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    align-items: center;
    width: 100%;
}

#titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90px;
    font-size: 30px;
    font-family: sans-serif;
    margin: 0;
}
